{% extends "base.html" %}
{% block instructions %}
    {{ block.super }}Click on the "Start FVEAT" button below to begin. The FVEAT will guide you through a series of
    simple questions about your vessel, the fisheries you participate in, and the type of equipment you use. The FVEAT
    will then generate a custom energy use profile for your vessel with practical steps to improve fuel efficiency. The
    links on the right hand side of the screen provide additional information on improving fuel efficiency.
    {{ endblock }}
{% endblock instructions %}
{% block content %}
            <h2>Welcome to the Fishing Vessel Energy Analysis Tool</h2>
            <p> The rising cost of fuel has a significant impact on commercial fishing businesses in
                Alaska. To provide vessel owners with information to make
                    decisions about how to improve fuel efficiency on their vessel, the Alaska Fisheries Development
                    Foundation (AFDF) partnered with the Alaska Longline Fishermen’s Association (ALFA), Alaska
                    SeaGrant, Nunatak Energetics, and Navis Energy Management Solutions to conduct energy audits
                    and collect data from more than 40 Alaskan fishing vessels between 2012 and 2017.  This work
                    resulted in the Fishing Vessel Energy Analysis Tool (FVEAT). The FVEAT combines data you enter
                    with measurements from Alaskan vessels participating in commercial troll, longline, seine, gillnet,
                    and pot fisheries to generate an energy use profile specific to your vessel.
            </p>

            <a class="btn btn-lg btn-primary" href="{% url 'vessel-profile' %}" role="button">Start FVEAT</a>
{% endblock %}
{% block sidebar_right %}
    {% include "sidebar_right_intro.html" %}
{% endblock %}
